<div id="page-body" style="position: relative; background-position: center; padding: 0px;
    margin: 0px; border: none; top: 134px; height: 534px; width: 1000px; overflow: auto;">
    <div style="width: 980px; margin-left: 8px; margin-top: 20px;">
        <span class="Main-bold-blacktext">Who we are</span> </br></br> <span class="Maintoptextstyle">
            Out of the desire for an alternative garment rail, one which isn’t as unsightly
            as the heavy duty commercial variety, but as robust and with the aesthetics to make
            it welcome in most design ecosystems, the brave rail was born. </br></br> Purpose
            built, with re-purposed industrial ingredients, our passion is in providing hand
            built creations that carry out their duty effectively whilst maintaining an attitude
            of simplicity. Our aim is to continually evolve, contaminating other lifestyle items
            with improved function and form.</span> </br></br> <span class="Main-bold-blacktext">
                Our Vision</span> </br></br> <span class="Maintoptextstyle">At vero eos et accusamus
                    et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                    non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                    laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                    minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
                    dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
                    necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                    voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span>
        </br></br> <span class="Main-bold-blacktext">Our Mission</span> </br></br> <span
            class="Maintoptextstyle">At vero eos et accusamus et iusto odio dignissimos ducimus
            qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
            rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
            omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
            et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
            repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
            doloribus asperiores repellat.</span> </br></br></div>
</div>
