<div id="page-body" style="position: relative; background-position: center; padding: 0px;
    margin: 0px; border: none; top: 134px;">
    <form action="mailto:contact@braveinteriors.com?subject=Email - Form" method="post"
    enctype="text/plain" name="mail" onsubmit="return formCheck();">
    <div id="titletext">
        <span class="Commenstyle"><span class="style4"><span class="Main-bold-blacktext">Brave
            Interiors</span><br />
        </span>
            <br />
            <span class="Maintoptextstyle">Need help, informtaion or interested in bespoke/custom
                sizing? contact us via email: contact@braveinteriors.com | Telephone: 02082742314.</span></span></div>
    <div id="contactid">
        <img src="/images/contact.jpg" width="300" height="201"></div>
    <div id="feedbktitl">
        <span class="Main-bold-blacktext">Please Leave your feedback</span></div>
    <div id="contactback">
    </div>
    <div id="nameid">
        <span class="Maintoptextstyle">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span></div>
    <div id="messageid">
        <span class="Maintoptextstyle">Message&nbsp;:</span></div>
    <div id="emailid">
        <span class="Maintoptextstyle">E-mail&nbsp;&nbsp;&nbsp;&nbsp;:</span></div>
    <div id="nameidform">
        <input name="Name" type="text" class="Textboxstyle" size="32" />
    </div>
    <div id="mailidform">
        <input name="Email" type="text" class="Textboxstyle" size="37" />
    </div>
    <div id="messageidform">
        <span class="style30">
            <textarea name="Message" cols="90" rows="10" class="Textboxstyle"></textarea>
        </span>
    </div>
    <div id="imageid">
        <input type="submit" value="Send" />
    </div>
    <div id="" class="addrsid">
        <span class="Main-bold-blacktext">Write to us</span><br />
        <br />
        <span class="Maintoptextstyle">BRAVE INTERIORS<br />
            #31 Fairfield South, Kingston Upon Thames,<br />
            Surrey, KT1 2UL.<br />
            <br />
            Tel : + 44-2082742314<br />
            Fax : + 44-2082742314<br />
            E mail : contact@braveinteriors.com</span>
    </div>
    </form>
</div>
