<div id="page-body" style="position: relative; background-position: center; padding: 0px;
    margin: 0px; border: none; top: 134px;">
    <div id="slider" class="nivoSlider">
        <img src="/images/1.jpg" alt="" />
        <img src="/images/2.jpg" alt="" />
        <img src="/images/3.jpg" alt="" />
    </div>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
</div>
