<div id="page-body" style="position: relative; background-position: center; padding: 0px;
    margin: 0px; border: none; top: 134px; height: 534px; width: 1000px; overflow: auto;">
    <div style="width: 980px; margin-left: 8px; margin-top: 20px;">
        <span class="Main-bold-blacktext">RETURN POLICY</span> </br></br> <span class="Maintoptextstyle">
            In the unlikely event that you are unhappy with a product (except faulty products)
            send it back to us with the original packaging and we’ll refund or replace it. Return
            your item within 28 days of purchase in perfect condition together with original
            packaging and we will be happy to refund the original price of the item or send
            you an exchange. All items are returned at your expense, we'll be glad to arrange
            a courier for bulk/heavy items on your behalf. Faulty items can be returned to us
            within 12 months of original purchase and we'll refund/exchange the full amount
            and refund the shipping cost. </br></br> Bespoke items, can only be returned or
            exchanged if faulty. </br></br> You will be responsible for the cost of returning
            the goods to us, and will remain responsible for any returned goods until they reach
            our workshop. We strongly advise that a proof of postagebe obtained when returning
            your order. Please contact us on 02082742314 or email contact@braveinteriors.com
            before returning an item. </br></br> Returns and exchanges will be processed as
            soon as possible after arrival. All items are returned at your expense.</span>
        </br></br> <span class="Main-bold-blacktext">SHIPPING INFORMATION</span> </br></br>
        <span class="Maintoptextstyle">At vero eos et accusamus et iusto odio dignissimos ducimus
            qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
            rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
            omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
            et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
            repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
            delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
            doloribus asperiores repellat.</span> </br></br>
    </div>
</div>
